/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(90deg, #FADFDB 1.06%, #DBAED1 50.42%, #BEC0F5 99.79%);
}
